@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-color: #232323;">
    <div class="text-center">
        <h1 class="display-4" style="color:#f2f2f2">Welcome</h1>
        <p style="color:#f2f2f2">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    </body>