@page
@model Group_Project.Pages.LogoutPage.LogoutModel
@{
}
<body style="background-color: #232323;">
    <h3 style="        font-family: Century Gothic;color: #f2f2f2">You have logged out from the system!</h3>
    </body>